 @using INTEX2.Infrastructure
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Product
<div class="col-4">
    <div class="card" style="border: none; display: flex; flex-direction: column;">
        <div class="card-body ms-2" style="overflow: hidden;">
            <!-- Wrap image in an anchor tag -->
            <a href="@Url.Action("ProductDetailPage", "Home", new { id = Model.ProductId })">
                <img src="@Model.ImgLink" class="mx-auto d-block" width="260" height="260" style="object-fit: cover;">
            </a>
            <br />
            <!-- Wrap product name in an anchor tag -->
            <a href="@Url.Action("ProductDetailPage", "Home", new { id = Model.ProductId })" style="text-decoration: none; color: inherit;">
                <h5 class="card-title ms-2 move-right-8px" style="height:40px;">@Model.Name</h5>
            </a>
            <p class="card-text ms-2 move-right-8px">$@Model.Price</p>
            <form id="@Model.ProductId" method="post" asp-page="/Cart">
                <input type="hidden" name="productId" value="@Model.ProductId" />
                <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                <div class="justify-content-center align-items-center">
                    <button type="submit" class="d-flex btn btn-primary btn-xl justify-content-center align-items-center" style="padding: 15px 90px; background-color: #069d9f; border: 1px solid rgba(255, 255, 255, 1); border-radius: 4px; font-size: 16px; color: #fff; font-weight: 400; text-align: center;">
                        Add to Cart
                        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/88bddbe6f98de4466b70faeec0c6a9a6d1633a645f3b65fd82b9051b39827f22?apiKey=3a091eaa77a84607bcdbf1652b75e071&" alt="View details icon" class="ms-2" style="width: 12px; height: 12px; object-fit: auto; object-position: center;" />
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


@* <form id="@Model.ProductId" method="post" asp-page="/Cart">
    <input type="hidden" name="productId" value="@Model.ProductId" />
    <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
    <button type="submit" class="btn-outline-success btn-sm float-end">Buy Now</button>
</form> *@