@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Recent Orders";
}



<head>
    <link rel="stylesheet" href="~/css/admin.css">
</head>


<h1>Recent Orders</h1>

@model IEnumerable<Order> 

<!-- Your table rendering code here -->


@* @model List<Order> //UPDATE WITH CORRECT MODEL *@
<main>
    <nav class="d-flex justify-content-center align-items-center container-fluid" style="padding: 10px; text-align: center">
        <a class="btn btn-info" role="button" style="width: 200px; margin: 0 10px;" asp-area="" asp-controller="Home" asp-action="AdminOrdersPage">ORDERS</a>
        <a class="btn btn-light" role="button" style="width: 200px; margin: 0 10px;" asp-area="" asp-controller="Home" asp-action="AdminProductsPage">PRODUCTS</a>
        <a class="btn btn-light" role="button" style="width: 200px; margin: 0 10px;" asp-area="" asp-controller="Home" asp-action="AdminCustomersPage">USERS</a>
    </nav>

    <div class="background">
        <div class="container">
            <table class="table table-bordered bg-white">
                <thead class="fw-bold">
                    <tr>
                        <td>Transaction ID</td>
                        <td>Customer ID</td>
                        <td>Date</td>
                        <td>Day of Week</td>
                        <td>Time</td>
                        <td>Entry Mode</td>
                        <td>Amount</td>
                        <td>Type of Transaction</td>
                        <td>Country of Transaction</td>
                        <td>Shipping Address</td>
                        <td>Bank</td>
                        <td>Type of Card</td>
                        <td>Fraud</td>
                        <td>Edit</td>
                        <td>Delete</td>
                    </tr>
                </thead>
                @foreach (var x in Model)
                {
                    <tbody>
                        <tr>
                            <td>@x.TransactionId</td>
                            <td>@x.CustomerId</td>
                            <td>@x.Date</td>
                            <td>@x.DayOfWeek</td>
                            <td>@x.Time</td>
                            <td>@x.EntryMode</td>
                            <td>@x.Amount</td>
                            <td>@x.TypeOfTransaction</td>
                            <td>@x.CountryOfTransaction</td>
                            <td>@x.ShippingAddress</td>
                            <td>@x.Bank</td>
                            <td>@x.TypeOfCard</td>
                            <td>@x.Fraud</td>
                            <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@x.TransactionId">Edit</a></td>
                            <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.TransactionId">Delete</a></td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>
</main>

