@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Users";
}
@model List<AspNetUser>

<head>
    <link rel="stylesheet" href="~/css/admin.css">
</head>

<body class="d-flex flex-column min-vh-100">

<div style="margin-top:5%">
    <nav class="d-flex justify-content-center container-fluid" style="padding: 10px; text-align: center">
        <h3 style="color:white; font-weight:600;">User Details</h3>
        <a class="btn btn-outline-info" role="button" style="width: 200px; margin: 0 10px;" asp-area="" asp-controller="Home" asp-action="AdminOrdersPage">RECENT ORDERS</a>
        <a class="btn btn-outline-info" role="button" style="width: 200px; margin: 0 10px;" asp-area="" asp-controller="Home" asp-action="AdminProductsPage">PRODUCTS</a>
        <a class="btn btn-outline-info" role="button" style="width: 200px; margin: 0 10px;" asp-area="" asp-controller="Home" asp-action="AdminCustomersPage">CUSTOMERS</a>
        <a class="btn btn-info" role="button" style="width: 200px; margin: 0 10px;" asp-area="" asp-controller="Home" asp-action="AdminUsersPage">USERS</a>
    </nav>
</div>




<main class="transactions-container">
    <div>
        <table class="table table-bordered bg-white" style="border-radius: 8px; overflow: hidden; margin-top: 10px;">
            <thead class="fw-bold">
                <tr>
                    <td>ID</td>
                    <td>Username</td>
                    <td>Email</td>
                    <td>Email Confirmed</td>
                    <td>Phone Number</td>
                    <td>Phone Number Confirmed</td>
                    <td>Two Factor Enabled</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>


            </thead>


            @foreach (var x in Model)
            {
                <tbody>
                    <tr>
                        <td>@x.Id</td>
                        <td>@x.UserName</td>
                        <td>@x.Email</td>
                        <td>@x.EmailConfirmed</td>
                        <td>@x.PhoneNumber</td>
                        <td>@x.PhoneNumberConfirmed</td>
                        <td>@x.TwoFactorEnabled</td>
                        <td><a class="btn btn-info" asp-controller="Home" asp-action="EditUserPage" asp-route-id="@x.Id">Edit</a></td>
                        <td><a class="btn btn-danger" asp-controller="Home" asp-action="DeleteUserConfirmation" asp-route-id="@x.Id">Delete</a></td>
                    </tr>

                </tbody>
            }
        </table>
    </div>
</main>

</body>