@{
    ViewData["Title"] = "Products";
}

<head>
    <link rel="stylesheet" href="~/css/admin.css">
</head>


@model List<Product> //UPDATE WITH CORRECT MODEL
<nav class="d-flex justify-content-center align-items-center container-fluid" style="padding: 10px; text-align: center">
    <a class="btn btn-info" role="button" style="width: 200px; margin: 0 10px;" asp-area="" asp-controller="Home" asp-action="AdminOrdersPage">RECENT ORDERS</a>
    <a class="btn btn-light" role="button" style="width: 200px; margin: 0 10px;" asp-area="" asp-controller="Home" asp-action="AdminProductsPage">PROUCTS</a>

    <a class="btn btn-info" role="button" style="width: 200px; margin: 0 10px;" asp-area="" asp-controller="Home" asp-action="AdminCustomersPage">CUSTOMERS</a>
    <a class="btn btn-info" role="button" style="width: 200px; margin: 0 10px;" asp-area="" asp-controller="Home" asp-action="AdminUsersPage">USERS</a>
</nav>

<a href="@Url.Action("AddProductPage", "Home")" class="btn btn-primary">Add a Product</a>
<main class="transactions-container">
    <div>
        <table class="table table-bordered">
            <thead class="fw-bold">
                <tr>
                    <td>Product ID</td>
                    <td>Name</td>
                    <td>Year</td>
                    <td>Number of Parts</td>
                    <td>Price</td>
                    <td>Image Link</td>
                    <td>Primary Color</td>
                    <td>Secondary Color</td>
                    <td>Description</td>
                    <td>Category</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>


            </thead>


            @foreach (var x in Model)
            {
                <tbody>
                    <tr>
                        <td>@x.ProductId</td>
                        <td>@x.Name</td>
                        <td>@x.Year</td>
                        <td>@x.NumParts</td>
                        <td>@x.Price</td>
                        <td>@x.ImgLink</td>
                        <td>@x.PrimaryColor</td>
                        <td>@x.SecondaryColor</td>
                        <td>@x.Description</td>
                        <td>@x.Category</td>
                        <td><a class="btn btn-info" asp-controller="Home" asp-action="EditProductPage" asp-route-id="@x.ProductId">Edit</a></td>
                        <td><a class="btn btn-danger" asp-controller="Home" asp-action="DeleteProductConfirmation" asp-route-id="@x.ProductId">Delete</a></td>
                    </tr>

                </tbody>
            }
        </table>
    </div>
</main>