@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Recent Orders";
}



<head>
    <link rel="stylesheet" href="~/css/admin.css">
</head>


@* @model List<Order> //UPDATE WITH CORRECT MODEL *@




<div style="margin-top:5%">
    <nav class="d-flex justify-content-center container-fluid" style="padding: 10px; text-align: center">
        <h3 style="color:white; font-weight:600;">Recent Orders</h3>
        <a class="btn btn-info" role="button" style="width: 200px; margin: 0 10px;" asp-area="" asp-controller="Home" asp-action="AdminOrdersPage">RECENT ORDERS</a>
        <a class="btn btn-outline-info" role="button" style="width: 200px; margin: 0 10px;" asp-area="" asp-controller="Home" asp-action="AdminProductsPage">PRODUCTS</a>
        <a class="btn btn-outline-info" role="button" style="width: 200px; margin: 0 10px;" asp-area="" asp-controller="Home" asp-action="AdminCustomersPage">CUSTOMERS</a>
        <a class="btn btn-outline-info" role="button" style="width: 200px; margin: 0 10px;" asp-area="" asp-controller="Home" asp-action="AdminUsersPage">USERS</a>
    </nav>
</div>


@model IEnumerable<Order> 


<main class="transactions-container">
    <table class="table table-bordered bg-white" style="border-radius: 8px; overflow: hidden; margin-top: 10px;"
            <thead class="fw-bold">
                <tr>
                    <td>Transaction ID</td>
                    <td>Customer ID</td>
                    <td>Date</td>
                    <td>Day of Week</td>
                    <td>Time</td>
                    <td>Entry Mode</td>
                    <td>Amount</td>
                    <td>Type of Transaction</td>
                    <td>Country of Transaction</td>
                    <td>Shipping Address</td>
                    <td>Bank</td>
                    <td>Type of Card</td>
                    <td>Fraud</td>
                    <td>Review</td>


            @foreach (var x in Model)
            {
                <tr style="@(x.Fraud == 1 ? "background-color: red;" : "")">
                    <td>@x.TransactionId</td>
                    <td>@x.CustomerId</td>
                    <td>@x.Date</td>
                    <td>@x.DayOfWeek</td>
                    <td>@x.Time</td>
                    <td>@x.EntryMode</td>
                    <td>@x.Amount</td>
                    <td>@x.TypeOfTransaction</td>
                    <td>@x.CountryOfTransaction</td>
                    <td>@x.ShippingAddress</td>
                    <td>@x.Bank</td>
                    <td>@x.TypeOfCard</td>
                    <td>@x.Fraud</td>
                    <td><a class="btn btn-info" asp-controller="Home" asp-action="ReviewOrderPage" asp-route-id="@x.TransactionId">Review Order</a></td>
                </tr>
            }
        </table>
    </div>
</main>

