@using INTEX3.Infrastructure
@using INTEX3.Models
@using INTEX3.Models.ViewModels
@model ProductListViewModel
@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Sellers</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Qt9Hug5N8Zq+pAiD1//I5ZPuXGR7t7dzWdSf2XkC3V7dMlvlJWvy8UcYG1TK3jWk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/home.css">
</head>
<body>

    <div class="carousel-container">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner">
                <!-- Carousel Items -->
                <div class="carousel-item active">
                    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/ae204e5755cea4ba25ef347a50d2363d86f7e2c46f5e5769d63ec785f2fa8f1a?apiKey=3a091eaa77a84607bcdbf1652b75e071&" class="d-block w-100" alt="First Slide">
                    <div class="carousel-caption d-none d-md-block" >
                        <div class="row">
                            <div class="col-6" style="position:sticky;">
                                <div class="text-content" style="text-align:left">
                                    <h5 style="font-weight: bold">AURORA BEST SELLER</h5>
                                    <br />
                                    <h1 style="font-size:48px; font-weight: bold;">Create something new with this loved building block</h1>
                                    <p>with one of Aurora's Best Sellers: Block 2x2</p>
                                </div>
                            </div>
                            <div class="col-6">

                                <a href="/Home/ProductDetailPage/23">
                                    <img src="https://i.ebayimg.com/00/s/NjAwWDgwMA==/z/~J4AAOSwN-hkkAA3/$_1.PNG" style="width: 80%; height: auto;" />
                                </a>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="carousel-item">
                    <!-- Image URL for the second item -->
                    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/ae204e5755cea4ba25ef347a50d2363d86f7e2c46f5e5769d63ec785f2fa8f1a?apiKey=3a091eaa77a84607bcdbf1652b75e071&0" class="d-block w-100" alt="Second Slide">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="row">
                            <div class="col-6" style="position:sticky;">
                                <div class="text-content" style="text-align:left">
                                    <h5 style="font-weight: bold">AURORA BEST SELLER</h5>
                                    <br />
                                    <h1 style="font-size:48px; font-weight: bold;">Power your collection with Lego’s Battery Box</h1>
                                    <p>add this best seller to your cart!</p>
                                </div>
                            </div>
                            <div class="col-6">
                                <a href="/Home/ProductDetailPage/19">
                                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/dc738655233326ba9b32c331b50a4de3498ec3a9a15144ee139e11e91411de3c?apiKey=3a091eaa77a84607bcdbf1652b75e071&" style=" width: 80%; height: auto;" />
                                </a>
                            </div>
                        </div>

                    </div>
                
                </div>
                <div class="carousel-item">
                    <!-- Image URL for the third item -->
                    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/ae204e5755cea4ba25ef347a50d2363d86f7e2c46f5e5769d63ec785f2fa8f1a?apiKey=3a091eaa77a84607bcdbf1652b75e071&" class="d-block w-100" alt="Third Slide">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="row">
                            <div class="col-6" style="position:sticky;">
                                <div class="text-content" style="text-align:left">
                                    <h5 style="font-weight: bold">AURORA BEST SELLER</h5>
                                    <br />
                                    <h1 style="font-size:48px; font-weight: bold;">Drive towards your wildest dreams</h1>
                                    <p>with Aurora's Best Seller: Wheel Sets, Black</p>
                                </div>
                            </div>
                            <div class="col-6">
                                <a href="/Home/ProductDetailPage/21">
                                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/b9bf3655fbce197dc3764fa5964b37527bcd1873cbec02be59e98ce58d9b957c?apiKey=3a091eaa77a84607bcdbf1652b75e071&" style=" width: 80%; height: auto;" />
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="carousel-item">
                    <!-- Image URL for the third item -->
                    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/ae204e5755cea4ba25ef347a50d2363d86f7e2c46f5e5769d63ec785f2fa8f1a?apiKey=3a091eaa77a84607bcdbf1652b75e071&" class="d-block w-100" alt="Third Slide">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="row">
                            <div class="col-6" style="position:sticky;">
                                <div class="text-content" style="text-align:left">
                                    <h5 style="font-weight: bold">AURORA BEST SELLER</h5>
                                    <br />
                                    <h1 style="font-size:48px; font-weight: bold;">The foundation for creative play</h1>
                                    <p>build the best with this best seller: Baseplate</p>
                                </div>
                            </div>
                            <div class="col-6">
                                <a href="/Home/ProductDetailPage/22">
                                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/2d112580b631dfc156e52910fb8eb2bc27f1a723c38bc8a96a1c68a40eedf3f2?apiKey=3a091eaa77a84607bcdbf1652b75e071&" style=" width: 80%; height: auto;" />
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="carousel-item">
                    <!-- Image URL for the third item -->
                    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/ae204e5755cea4ba25ef347a50d2363d86f7e2c46f5e5769d63ec785f2fa8f1a?apiKey=3a091eaa77a84607bcdbf1652b75e071&" class="d-block w-100" alt="Third Slide">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="row">
                            <div class="col-6" style="position:sticky;">
                                <div class="text-content" style="text-align:left">
                                    <h5 style="font-weight: bold">AURORA BEST SELLER</h5>
                                    <br />
                                    <h1 style="font-size:48px; font-weight: bold;">Train your imagination with some new wheels</h1>
                                    <p>with 4.5V Small Motor with Wheels (Small Version)</p>
                                </div>
                            </div>
                            <div class="col-6">
                                <a href="/Home/ProductDetailPage/20">
                                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/b1a5537077356c6eb7480093b6b582c3efd0824ca9381096af47394aa106abf0?apiKey=3a091eaa77a84607bcdbf1652b75e071&" style=" width: 80%; height: auto;" />
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

@*     <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjyIOi+Y5NLY6tvXNx5I4F6zH9U9g0z3N2u5XP0m3IIqejAsHHfs3T" crossorigin="anonymous"></script>
    <script>
        var myCarousel = document.querySelector('#carouselExampleIndicators');
        var carousel = new bootstrap.Carousel(myCarousel, {
            interval: 2000,
            wrap: true
        });
    </script>
 *@

    <div class="image-row">
        <a asp-area="" asp-controller="Home" asp-action="ProductListPage"><img src="https://cdn.builder.io/api/v1/image/assets/TEMP/978891f0eda8046a13f8203967fa6eb4751f8a02092c830b315ca073296158ab?apiKey=3a091eaa77a84607bcdbf1652b75e071&" alt="All Products"></a>
        <a href="@Url.Action("ProductListPage", "Home", new { productCategory = "Star Wars", pageNum = 1 })"><img src="https://cdn.builder.io/api/v1/image/assets/TEMP/cad764540cd5e83986774fd9ce969bdd5f49ae74be690195725087c4badedcc5?apiKey=3a091eaa77a84607bcdbf1652b75e071&" alt="Star Wars"></a>
        <a href="@Url.Action("ProductListPage", "Home", new { productCategory = "Harry Potter", pageNum = 1 })"><img src="https://cdn.builder.io/api/v1/image/assets/TEMP/1eee91e7d52cdb1d7375eb89765d7e14a052ca285141dab17d0938c74f11086d?apiKey=3a091eaa77a84607bcdbf1652b75e071&" alt="Harry Potter"></a>
        <a href="@Url.Action("ProductListPage", "Home", new { productCategory = "Flight - Vehicle", pageNum = 1 })"><img src="https://cdn.builder.io/api/v1/image/assets/TEMP/e6ab161af7bbb7f9a14f4314f3afa6f13e58449c7ed5d0c274ea302987de37dc?apiKey=3a091eaa77a84607bcdbf1652b75e071&" alt="Flight"></a>
        <a href="@Url.Action("ProductListPage", "Home", new { productCategory = "Floral - Colorful", pageNum = 1 })"><img src="https://cdn.builder.io/api/v1/image/assets/TEMP/d3be40c48c847d9ccea66db0b4c00e0646e46ce6823f3e6bcd9e885e862a696b?apiKey=3a091eaa77a84607bcdbf1652b75e071&" alt="Floral"></a>
    </div>



    @{
        var headerText = User.Identity.IsAuthenticated ? $"{User.Identity.Name}! here are your recommended items:" : "Aurora's Best Rated Items:";
    }

    <h2 class="productlistheader" style="padding-bottom:15px">@headerText</h2>
    <div class="container" style="padding-top: 30px;">
        <div class="row">
            @foreach (var product in Model.Products)
            {
                <partial name="ProductSummary" model="product" />
            }
        </div>
    </div>


</body>
</html>
